.card {
  width: 40%;
  height: 55%;
  min-height: 378px;
}

.form {
  width: 60%;
}

.form h4 {
  margin-bottom: 0;
}

.btnGroup {
  width: 100%;
}

.input {
  border-radius: 3px;
  background-color: rgb(230, 229, 229);
  margin-bottom: 1rem;
  padding: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.keepSigned {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.link {
  margin-top: 7px;
}

.errorDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.error {
  color: red;
  position: absolute;
  margin-top: -10px;
  left: 0;
  width: 100%;
}
