.card {
  width: 40%;
  height: 65%;
  min-height: 510px;
}

.form {
  width: 60%;
}

.form h4,
h5 {
  margin: 0 !important;
}
.form h1 {
  margin-top: 0;
}

.btnGroup {
  width: 100%;
}

.input {
  border-radius: 3px;
  background-color: rgb(230, 229, 229);
  margin-bottom: 1rem;
  padding: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.select {
  background-color: rgb(230, 229, 229);
  margin-bottom: 1rem;
  border-style: none !important;
  text-align: left;
  padding: 5px;
}
.em {
  font-style: normal;
  color: rgb(158, 158, 158);
}

.link {
  margin-top: 7px;
}

.errorDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(230, 229, 229) inset !important;
}
