.header {
  height: 3rem;
  background-color: #0078d4;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.menuBtn {
  background-color: blueviolet !important;
}

.box {
  margin-right: 1%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input {
  font-size: 22px !important;
  color: white;
  display: inline;
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  margin-right: 40px !important;
  height: 100%;
  margin-right: 5px;
}
