.menuBox {
  position: absolute;
  width: 10rem;
  border-color: transparent;
  /* border-top-color: white; */
  border-width: 2px;
  border-style: solid;
  border-right-color: #222222;
  top: 4rem;
  bottom: 10px;
  padding: 1rem;
  resize: horizontal;
}

.menuGroup {
  width: 100%;
}

.menuBtn {
  width: 100%;
  color: white !important;
}
.menuBtn:hover {
  background-color: #141414 !important;
}
